body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}


main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 20px;
}


p {
    color: white;
}

h1 {
    color: white;
}

a {
    color: white;
}

.title {
    color: white;
    text-align: center;
}

.date {
    color: white;
    text-align: center;
}