RewriteEngine On
DirectoryIndex index.html
Options All -Indexes
RedirectPermanent /en/social-media /contact
RedirectPermanent /social-media /contact
RedirectPermanent /en/tech-blog /blog
RedirectPermanent /tech-blog /blog
RedirectPermanent /en/about /about
RedirectPermanent /photo-releases https://gallery.arbs09.de/