body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    font-family: Arial, sans-serif;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

a {
    color: white;

}
main {
    text-align: center;
    flex: 1;
    padding: 0 100px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}
    

h1, h2, h3, .title, .date, .footer-text {
    color: white;
    text-align: center;
}


p {
    color: white;
    text-align: center;
}

.footer-text {
    font-size: 14px;
}


.small-icon {
    width: 20px;
    height: 20px;
    fill: white;
}

ul {
    list-style-type: none;
    padding: 0 35%;
    text-align: left;
}

li {
    color: white;
    text-align: left;
    display: inline-block;
    margin: 0 10px;
}