<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer data-domain="arbs09.de" src="https://plausible.arbs09.de/js/script.js"></script>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="https://gallery.arbs09.de" target="_blank" rel="noopener dofollow">Gallery</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <main>
    {% block content %} {% endblock %}
  </main>
  <footer>
    <a href="https://arbs09.de/pgp.txt" target="_blank" rel="noopener dofollow"><p class="footer-text">// PGP //</p></a>
    <p class="footer-text">My Gallery: <a href="https://gallery.arbs09.de" target="_blank" rel="noopener dofollow">gallery.arbs09.de</a></p>
    <a rel="me noopener dofollow" target="_blank" href="https://github.com/arbs09/"><img class="small-icon" alt="github logo" src="/icons/github.svg"></a>
    <a rel="me noopener dofollow" target="_blank" href="https://mastodon.social/@arbs"><img class="small-icon" alt="mastodon logo" src="/icons/mastodon.svg"></a>
    <a rel="me noopener dofollow" target="_blank" href="https://instagram.com/arbs09/"><img class="small-icon" alt="instagram logo" src="/icons/instagram.svg"></a>
    <p class="footer-text">&copy; 2024 arbs09.de</p>
	  <p class="footer-text">Powered by <a target="_blank" rel="noopener" href="https://www.getzola.org/">Zola</a></p>
  </footer>
</body>

</html>